<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>
    
    <!-- #region Custom CSS -->
    <link rel="stylesheet" type="text/css" href="css/signup.css">
    <!-- #endregion -->

    <header>
        <%- include(page) %>
    </header>
</head>


<body> 
    <!-- wrapper -->
    <div id="wrapper">
        <form action="/api/auth/signup" method="POST">
        <!-- content-->
        <div id="content">
            
            <!-- ID -->
            <div>
                <h3 class="join_title">
                    <label for="id">아이디</label>
                </h3>
                <span class="box int_id">
                    <input type="text" id="id" class="int" maxlength="20" name="username">
                    
                </span>
                <span class="error_next_box"></span>
            </div>
            <script type="text/javascript">
                $(function(){ $("#alert-success").hide();
                 $("#alert-danger").hide(); 
                 $("input").keyup(function(){ 
                     var pwd1=$("#pwd1").val();
                     var pwd2=$("#pwd2").val(); 
                     if(pwd1 != "" || pwd2 != ""){
                        if(pwd1 == pwd2){ 
                           $("#alert-success").show();
                           $("#alert-danger").hide(); 
                           
                           $("#submit").removeAttr("disabled"); 
                           }else{ 
                               $("#alert-success").hide(); 
                               $("#alert-danger").show(); 
                               $("#submit").attr("disabled", "disabled"); 
                               } 
                               } 
                               });
                                }); </script>
   
   
   
               <!-- PW1 -->
               <div>
                   <h3 class="join_title"><label for="pwd1">비밀번호</label></h3>
                   <span class="box int_pass">
                       <input type="password" name="password"id="pwd1" class="int" maxlength="20">
                       
                      
                   </span>
                   <span id="error_next_box"></span>
               </div>
   
               <!-- PW2 -->
               <div>
                   <h3 class="join_title"><label for="pwd2">비밀번호 재확인</label></h3>
                   <span class="box int_pass_check">
                       <input type="password" name="password2"id="pwd2" class="int"  maxlength="20">
                       <div class="alert alert-success" id="alert-success">비밀번호가 일치합니다.</div> 
                       <div class="alert alert-danger" id="alert-danger">비밀번호가 일치하지 않습니다.</div>
    
                       
               </div>
               <br>
            <!-- NAME -->
            <div>
                <h3 class="join_title"><label for="name">이름</label></h3>
                <span class="box int_name">
                    <input type="text" id="name" class="int" maxlength="20" name="name">
                </span>
                <span class="error_next_box"></span>
            </div>

            <!-- BIRTH -->
            <div>
                <h3 class="join_title"><label for="yy">생년월일</label></h3>
                    <input type="date" id="birthday", style="width: 100%; padding:10px" name="birth">
                <span class="error_next_box"></span>    
            </div>

            <!-- GENDER -->
            <div>
                <h3 class="join_title"><label for="gender">성별</label></h3>
                <span class="box gender_code">
                    <select id="gender" class="sel" name="isMan">
                        <option>성별</option>
                        <option value="1">남자</option>
                        <option value="0">여자</option>
                    </select>                            
                </span>
                <span class="error_next_box">필수 정보입니다.</span>
            </div>

            <!-- EMAIL -->
            
            <!-- MOBILE -->
            


            <!-- JOIN BTN-->
            <div class="btn_area">
                <button id="btnJoin">
                    <span>가입하기</span>
                </button>
            </div>

            

        </div> 
        <!-- content-->
    </form>
    </div> 
 

</body>
</html>
    
</html>

