<!DOCTYPE html>
<html lang="ko">

<head>
    <!-- #region Meta Data -->
    <%- include ("./head.ejs") %>
    <link rel="stylesheet" type="text/css" href="../css/cardio.css">
    <!-- #endregion -->
</head>>

<body>
    <div class="ui container" id="bottomPadding">
        <!-- #region Header -->
        <header>
            <%- include ("./header.ejs") %>
        </header>
        <!-- #endregion -->

        <!-- #region BODY -->
        <div class="ui segment grid" id="bottomPadding">

            <div class="menu">
                <div class="button-left">
                    <i class="chevron left icon"></i>
                </div>

                <div class="text">
                    <p class="content">유산소</p>
                </div>

                <div class="button-right">
                    <i class="chevron right icon"></i>
                </div>
            </div>

            <div class="category">
                <div class="category-border">
                    러닝
                </div>
            </div>
            <div class="video-content">
                <div class="item">
                    <iframe width="350" height="200" src="https://www.youtube.com/embed/nnmiUT8CXjQ" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen>
                    </iframe>
                </div>

                <div class="item">
                    <iframe width="350" height="200" src="https://www.youtube.com/embed/YjGQvaf2UMg" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen>
                    </iframe>
                </div>
                <div class="item">
                    <iframe width="350" height="200" src="https://www.youtube.com/embed/YjGQvaf2UMg" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen>
                    </iframe>
                </div>

            </div>

            <div class="category">
                <div class="category-border">
                    사이클
                </div>
            </div>
            <div class="video-content">
                <div class="item">
                    <iframe width="350" height="200" src="https://www.youtube.com/embed/nnmiUT8CXjQ" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen>
                    </iframe>
                </div>

                <div class="item">
                    <iframe width="350" height="200" src="https://www.youtube.com/embed/YjGQvaf2UMg" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen>
                    </iframe>
                </div>
                <div class="item">
                    <iframe width="350" height="200" src="https://www.youtube.com/embed/YjGQvaf2UMg" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen>
                    </iframe>
                </div>

            </div>

            <div class="category">
                <div class="category-border">
                    기타
                </div>
            </div>
            <div class="video-content">
                <div class="item">
                    <iframe width="350" height="200" src="https://www.youtube.com/embed/nnmiUT8CXjQ" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen>
                    </iframe>
                </div>

                <div class="item">
                    <iframe width="350" height="200" src="https://www.youtube.com/embed/YjGQvaf2UMg" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen>
                    </iframe>
                </div>
                <div class="item">
                    <iframe width="350" height="200" src="https://www.youtube.com/embed/YjGQvaf2UMg" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen>
                    </iframe>
                </div>
            </div>
        </div>
        <!-- #endregion -->
    </div>
</body>

</html>