<!DOCTYPE html>
<html lang="ko">

<head>
    <!-- #region Meta Data -->
    <%- include ("./head.ejs") %>
    <!-- #endregion -->
</head>

<header>
    <%- include ("./header.ejs") %>
</header>

<body>
    <!-- #region BODY -->
    cardio
    <!-- #endregion -->
</body>

</html>