<!-- #region title -->
<div class="jumbotron text-center" style="margin-bottom:0">
    <a href="/" class="nav-link">
        <h1>Health Gallery</h1>
        <p>This website helps your fitness</p>
    </a>
</div>
<!-- #endregion -->

<!-- menu -->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container">
        <!-- Links -->
        <ul class="navbar-nav">
            <div class="col-sm-5">
                <li class="nav-item">
                    <a class="nav-link" href="#">자유게시판</a>
                </li>
            </div>

            <!-- Dropdown -->
            <div class="col-sm-5">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                        운 동
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">다이어트</a>
                        <a class="dropdown-item" href="#">웨이트</a>
                        <a class="dropdown-item" href="/cardio">유산소</a>
                    </div>
                </li>
            </div>

            <div class="col-sm-5">
                <li class="nav-item">
                    <a class="nav-link" href="#">로그인</a>
                </li>
            </div>

            <div class="col-sm-5">
                <li class="nav-item">
                    <a class="nav-link" href="#">회원가입</a>
                </li>
            </div>

            <div class="col-sm-5">
                <li class="nav-item">
                    <a class="nav-link" href="/mypage">마이페이지</a>
                </li>
            </div>
        </ul>
    </div>
</nav>