<a href="/">
    <h1 class="title">헬스페이지</h1>
</a>
<button class="ui button">자유게시판</button>
<div class="ui right floated buttons">
    <button class="ui button">로그인</button>
    <button class="ui button">회원가입</button>
    <button class="ui button" onclick="location.href = '/mypage'">마이페이지</button>
</div>