<!DOCTYPE html>
<html lang="ko">

<head>
    <!-- #region Meta Data -->
    <%- include ("./head.ejs") %>
    <link rel="stylesheet" type="text/css" href="../css/mypage.css">
    <!-- #endregion -->
</head>>

<body>
    <div class="ui container">
        <!-- #region Header -->
        <header>
            <%- include ("./header.ejs") %>
        </header>
        <!-- #endregion -->


        <!-- #region BODY -->
        <div class="ui segment grid">
            <!-- #region Side Navigation -->
            <div class="four wide column">
                <div class="ui secondary vertical pointing menu">
                    <a class="active item">
                        내 정보
                    </a>
                    <a class="item">
                        내 활동
                    </a>
                    <a class="item">
                        공지사항
                    </a>
                    <a class="item">
                        회원탈퇴
                    </a>
                </div>
            </div>
            <!-- #endregion -->

            <!-- #region Contents -->
            <div class="twelve wide column">
                <div class="ui segment">
                    여기는 내 정보 입니다.
                </div>

                <div class="ui segment">
                    여기는 내 활동 입니다.
                </div>

                <div class="ui segment">
                    여기는 공지사항 입니다.
                </div>

                <div class="ui segment">
                    여기는 회원탈퇴 입니다.
                </div>
            </div>
            <!-- #endregion -->
        </div>
        <!-- #endregion -->

    </div>
    <script src="../javascript/mypage.js"></script>
</body>

</html>