<!DOCTYPE html>
<html lang="ko">

<head>
    <!-- #region Meta Data -->
    <%- include ("./head.ejs") %>
    <link rel="stylesheet" type="text/css" href="../css/mypage.css" />
    <!-- #endregion -->
</head>

<header>
    <%- include ("./header.ejs") %>
</header>

<body>
    <!-- #region BODY -->
    <div class="container">
        <div class="sidenav">
            <a href="#">내 정보</a>
            <a href="#">내 활동</a>
            <a href="#">공지사항</a>
            <a href="#">회원탈퇴</a>
        </div>

    </div>

    <!-- #endregion -->
</body>

</html>