<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <header><%- include(page) %></header>
  </head>

  <body>
    <!-- content -->
    <div class="container" style="margin-top: 5%; text-align: center">
      <div
        class="container p-4 my-3 rounded shadow-lg p-4 mb-4 bg-light"
        style="width: 50%"
      >
        <h2>유산소</h2>
      </div>
      <br /><br />
      <div class="container p-2 my-3 rounded bg-dark text-white">
        <h3>러닝</h3>
      </div>
      <!-- video 1 -->
      <div
        id="demo1"
        class="carousel slide"
        data-ride="carousel"
        data-interval="false"
      >
        <div class="carousel-inner col sm-2">
          <div class="carousel-item active">
            <div class="row">
              <div class="col sm-4">
                <iframe
                  width="320"
                  height="200"
                  src="https://www.youtube.com/embed/nnmiUT8CXjQ"
                  frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen
                >
                </iframe>
              </div>
              <div class="col sm-4">
                <iframe
                  width="320"
                  height="200"
                  src="https://www.youtube.com/embed/CtkbjwaL4UY"
                  frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen
                >
                </iframe>
              </div>
              <div class="col sm-4">
                <iframe
                  width="320"
                  height="200"
                  src="https://www.youtube.com/embed/hGZbetOam4Q"
                  frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen
                >
                </iframe>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="row">
              <div class="col sm-4">
                <iframe
                  width="320"
                  height="200"
                  src="https://www.youtube.com/embed/CtkbjwaL4UY"
                  frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen
                >
                </iframe>
              </div>
              <div class="col sm-4">
                <iframe
                  width="320"
                  height="200"
                  src="https://www.youtube.com/embed/hGZbetOam4Q"
                  frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen
                >
                </iframe>
              </div>
              <div class="col sm-4">
                <iframe
                  width="320"
                  height="200"
                  src="https://www.youtube.com/embed/nnmiUT8CXjQ"
                  frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen
                >
                </iframe>
              </div>
            </div>
          </div>
        </div>
        <br />
        <div class="col sm-2">
          <a
            class="carousel-control-prev"
            href="#demo1"
            role="button"
            data-slide="prev"
          >
            <button type="button" class="btn btn-dark"><<<</button>
          </a>
          <a
            class="carousel-control-next"
            href="#demo1"
            role="button"
            data-slide="next"
          >
            <button type="button" class="btn btn-dark">>>></button>
          </a>
        </div>
      </div>

      <br /><br />
      <div class="container p-2 my-3 rounded bg-dark text-white">
        <h3>사이클</h3>
      </div>

      <!-- video 2 -->
      <div
        id="demo2"
        class="carousel slide"
        data-ride="carousel"
        data-interval="false"
      >
        <div class="carousel-inner col sm-2">
          <div class="carousel-item active">
            <div class="row">
              <div class="col sm-4">
                <iframe
                  width="320"
                  height="200"
                  src="https://www.youtube.com/embed/bb02jfSmwUY"
                  frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen
                >
                </iframe>
              </div>
              <div class="col sm-4">
                <iframe
                  width="320"
                  height="200"
                  src="https://www.youtube.com/embed/PReY2aItX14"
                  frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen
                >
                </iframe>
              </div>
              <div class="col sm-4">
                <iframe
                  width="320"
                  height="200"
                  src="https://www.youtube.com/embed/SUoFKzmJVOY"
                  frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen
                >
                </iframe>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="row">
              <div class="col sm-4">
                <iframe
                  width="320"
                  height="200"
                  src="https://www.youtube.com/embed/gE4da4O7XMY"
                  frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen
                >
                </iframe>
              </div>
              <div class="col sm-4">
                <iframe
                  width="320"
                  height="200"
                  src="https://www.youtube.com/embed/sZSzoTyp42w"
                  frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen
                >
                </iframe>
              </div>
              <div class="col sm-4">
                <iframe
                  width="320"
                  height="200"
                  src="https://www.youtube.com/embed/itBrpgUwygs"
                  frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen
                >
                </iframe>
              </div>
            </div>
          </div>
        </div>
        <br />
        <div class="col sm-2">
          <a
            class="carousel-control-prev"
            href="#demo2"
            role="button"
            data-slide="prev"
          >
            <button type="button" class="btn btn-dark"><<<</button>
          </a>
          <a
            class="carousel-control-next"
            href="#demo2"
            role="button"
            data-slide="next"
          >
            <button type="button" class="btn btn-dark">>>></button>
          </a>
        </div>
      </div>

      <br /><br />
      <div class="container p-2 my-3 rounded bg-dark text-white">
        <h3>기타</h3>
      </div>

      <!-- video 3 -->
      <div
        id="demo3"
        class="carousel slide"
        data-ride="carousel"
        data-interval="false"
      >
        <div class="carousel-inner col sm-2">
          <div class="carousel-item active">
            <div class="row">
              <div class="col sm-4">
                <iframe
                  width="320"
                  height="200"
                  src="https://www.youtube.com/embed/XnH2WAqjoWk"
                  frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen
                >
                </iframe>
              </div>
              <div class="col sm-4">
                <iframe
                  width="320"
                  height="200"
                  src="https://www.youtube.com/embed/rPEJyLNteNk"
                  frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen
                >
                </iframe>
              </div>
              <div class="col sm-4">
                <iframe
                  width="320"
                  height="200"
                  src="https://www.youtube.com/embed/CkcQhRuAlWU"
                  frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen
                >
                </iframe>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="row">
              <div class="col sm-4">
                <iframe
                  width="320"
                  height="200"
                  src="https://www.youtube.com/embed/GQ_Dt7_Jfk8"
                  frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen
                >
                </iframe>
              </div>
              <div class="col sm-4">
                <iframe
                  width="320"
                  height="200"
                  src="https://www.youtube.com/embed/8EEd8_ew3lA"
                  frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen
                >
                </iframe>
              </div>
              <div class="col sm-4">
                <iframe
                  width="320"
                  height="200"
                  src="https://www.youtube.com/embed/s1BNUBZ0fIU"
                  frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen
                >
                </iframe>
              </div>
            </div>
          </div>
        </div>
        <br />
        <div class="col sm-2">
          <a
            class="carousel-control-prev"
            href="#demo3"
            role="button"
            data-slide="prev"
          >
            <button type="button" class="btn btn-dark"><<<</button>
          </a>
          <a
            class="carousel-control-next"
            href="#demo3"
            role="button"
            data-slide="next"
          >
            <button type="button" class="btn btn-dark">>>></button>
          </a>
        </div>
      </div>
      <br /><br />
    </div>
  </body>
</html>
