
<div class="jumbotron text-center" style="margin-bottom:0">
    <a href="/" class="nav-link">
        <h1>Health Gallery</h1>
        <p>This website helps your fitness</p>
    </a>
</div>
<!-- menu -->
<ul class="nav justify-content-around bg-dark" style="padding: 10px">
    <li class="nav-item">
        <a class="nav-link" href="/board" style="color:darkgrey">자유게시판</a>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown" style="color:darkgrey">
                운 동
        </a>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="/diet">다이어트</a>
            <a class="dropdown-item" href="/weight">웨이트</a>
            <a class="dropdown-item" href="/cardio">유산소</a>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/auth/login" style="color:darkgrey">로그인</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="/register" style="color:darkgrey">회원가입</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/mypage" style="color:darkgrey" >마이페이지</a>
    </li> 
</ul>

<!-- <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container">
        <ul class="navbar-nav">
            <div class="col-sm-5">
                <li class="nav-item">
                    <a class="nav-link" href="/board">자유게시판</a>
                </li>
            </div>

            <div class="col-sm-5">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                        운 동
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">다이어트</a>
                        <a class="dropdown-item" href="#">웨이트</a>
                        <a class="dropdown-item" href="cardio.html">유산소</a>
                    </div>
                </li>
            </div>

            <div class="col-sm-5">
                <li class="nav-item">
                    <a class="nav-link" href="/auth/login">로그인</a>
                </li>
            </div>

            <div class="col-sm-5">
                <li class="nav-item">
                    <a class="nav-link" href="/register">회원가입</a>
                </li>
            </div>

            <div class="col-sm-5">
                <li class="nav-item">
                    <a class="nav-link" href="mypage.html">마이페이지</a>
                </li>
            </div>
        </ul>
    </div>
</nav> -->