<!DOCTYPE html>
<html lang="ko">
  <head>
    <% include ./head.ejs %>
    <link rel="stylesheet" type="text/css" href="/stylesheets/index.css" />
  </head>

  <header><% include ./header.ejs %></header>

  <body>
    <!-- #region BODY -->
    <div class="container body">
      <div class="text-center row">
        <div class="col-sm-4 item">
          <a href="cardio">
            다이어트
            <img src="img/diet.jpeg" alt="diet" class="img-responsive img" />
          </a>
        </div>
        <div class="col-sm-4 item">
          <a href="cardio">
            웨이트
            <img src="img/weight.jpg" alt="weight" class="img-responsive img" />
          </a>
        </div>
        <div class="col-sm-4 item">
          <a href="cardio">
            유산소
            <img src="img/o2.jpg" alt="o2" class="img-responsive img" />
          </a>
        </div>
      </div>
    </div>
    <!-- #endregion -->
  </body>
</html>
