<!DOCTYPE html>
<html lang="ko">
  <head>
    <% include ./head.ejs %>
    <link rel="stylesheet" type="text/css" href="/stylesheets/mypage.css" />
  </head>

  <header><% include ./header.ejs %></header>

  <body>
    <!-- #region BODY -->
    <div class="container text-center">
      <div class="table">
        <h4 class="font-weight-bold">내 정보</h4>
        <div class="row justify-content-center">
          <div class="col-6">
            <!-- TODO: myinfo API 사용해서 DB data 불러오기 -->
            <form action="/myinfo">
              <table class="table table-sm table-borderless">
                <thead class="thead-dark">
                  <tr>
                    <th>index</th>
                    <th>User Info</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>아이디:</td>
                    <td>dkdlel123</td>
                  </tr>
                  <tr>
                    <td>비밀번호:</td>
                    <td>1234567890</td>
                  </tr>
                  <tr>
                    <td>이름:</td>
                    <td>홍길동</td>
                  </tr>
                  <tr>
                    <td>성별:</td>
                    <td>남자</td>
                  </tr>
                  <tr>
                    <td>생년월일:</td>
                    <td>19951221</td>
                  </tr>
                </tbody>
              </table>
            </form>
          </div>
        </div>
      </div>

      <!-- #region 내 게시글 -->
      <div class="table">
        <h4 class="font-weight-bold">내 게시글</h4>
        <table class="table table-sm table-hover">
          <thead class="thead-dark">
            <tr>
              <th>No.</th>
              <th>Title</th>
              <th>Time</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>헬스페이지 자유게시판 글 하나</td>
              <td>201711211831</td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- #endregion -->

      <!-- #region 내 댓글 -->
      <div class="table">
        <h4 class="font-weight-bold">내 댓글</h4>
        <table class="table table-sm table-hover">
          <thead class="thead-dark">
            <tr>
              <th>No.</th>
              <th>Title</th>
              <th>comments</th>
              <th>Time</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>헬스페이지 자유게시판 글 하나</td>
              <td>이것은 댓글 입니다.</td>
              <td>201711211831</td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- #endregion -->
    </div>
    <!-- #endregion -->
  </body>
</html>
