<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>lightslider </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    
    <!-- title -->
    <div class="jumbotron text-center" style="margin-bottom:0">
        <h1>Health Gallery</h1>
        <p>This website helps your fitness</p> 
    </div>

    <!-- menu -->
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <div class ="container">
        <!-- Links -->
            <ul class="navbar-nav">
                <div class="col-sm-6">
                    <li class="nav-item">
                        <a class="nav-link" href="#">자유게시판</a>
                    </li>
                </div>

                <!-- Dropdown -->
                <div class="col-sm-6">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                            운 동
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">다이어트</a>
                            <a class="dropdown-item" href="#">웨이트</a>
                            <a class="dropdown-item" href="#">유산소</a>
                        </div>
                    </li>
                </div>
                <div class="col-sm-6">
                    <li class="nav-item">
                        <a class="nav-link" href="#">로그인</a>
                    </li>
                </div>
                <div class="col-sm-6">
                    <li class="nav-item">
                        <a class="nav-link" href="#">회원가입</a>
                    </li>
                </div>

                <div class="col-sm-6">
                    <li class="nav-item">
                        <a class="nav-link" href="#">마이페이지</a>
                    </li>
                </div>        
            </ul>
        </div>
    </nav>

</head>
<body>
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
          <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>
    <div class="menu">
        <div class="button-left">
            <i class="fas fa-caret-square-left fa-5x"></i>
        </div>

        <div class="text">
            <p class="content">웨이트</p>
        </div>

        <div class="button-right">
            <i class="fas fa-caret-square-right fa-5x"></i>
        </div>
    </div>
   
    <div class="category">
        <div class="category-border">
            가슴
        </div>
    </div>

    
             
    <div class="video-content">   
        <div class="carousel-inner" role="listbox"> 
        <div class="item active">
            <iframe width="400" height="200" src="https://www.youtube.com/embed/4LTqfOOWZmU?list=PLiEMdHaOkT4lArHZpXRnd_qLSkSb4fF3r" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
            </iframe>
        </div>
                   
        <div class="item">
            <iframe width="400" height="200" src="https://www.youtube.com/embed/rF3I18g6Srs?list=PLiEMdHaOkT4lArHZpXRnd_qLSkSb4fF3r" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
            </iframe>
            <iframe width="400" height="200" src="https://www.youtube.com/embed/rF3I18g6Srs?list=PLiEMdHaOkT4lArHZpXRnd_qLSkSb4fF3r" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
            </iframe>
            <iframe width="400" height="200" src="https://www.youtube.com/embed/rF3I18g6Srs?list=PLiEMdHaOkT4lArHZpXRnd_qLSkSb4fF3r" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
            </iframe>
        </div>
              
        <div class="item">
            <iframe width="400" height="200" src="https://www.youtube.com/embed/yf0qL-JoYVQ?list=PLiEMdHaOkT4lArHZpXRnd_qLSkSb4fF3r" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
            </iframe>
             <iframe width="400" height="200" src="https://www.youtube.com/embed/yf0qL-JoYVQ?list=PLiEMdHaOkT4lArHZpXRnd_qLSkSb4fF3r" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
            </iframe>
            <iframe width="400" height="200" src="https://www.youtube.com/embed/yf0qL-JoYVQ?list=PLiEMdHaOkT4lArHZpXRnd_qLSkSb4fF3r" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
            </iframe>
        </div>         
    
    <!-- Left and right controls -->
  
</div>
    </div>
   





    <div class="category">
        <div class="category-border">
            등
        </div>
    </div>
    <div class="video-content">
        <div class="item">
            <iframe width="400" height="200" src="https://www.youtube.com/embed/fjswoq9uv90?list=PLiEMdHaOkT4lArHZpXRnd_qLSkSb4fF3r" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
            </iframe>
        </div>

        <div class="item">
            <iframe width="400" height="200" src="https://www.youtube.com/embed/6Q6Yp4eDrIE?list=PLiEMdHaOkT4lArHZpXRnd_qLSkSb4fF3r" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
            </iframe>
        </div>
        <div class="item">
            <iframe width="400" height="200" src="https://www.youtube.com/embed/5Au6QuGaZII?list=PLiEMdHaOkT4lArHZpXRnd_qLSkSb4fF3r" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
            </iframe>
        </div>

    </div>

    <div class="category">
        <div class="category-border">
            어깨
        </div>
    </div>
    <div class="video-content">
        <div class="item">
            <iframe width="400" height="200" src="https://www.youtube.com/embed/8U89oCO5Gg4?list=PLiEMdHaOkT4lArHZpXRnd_qLSkSb4fF3r"  frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
            </iframe>
        </div>

        <div class="item">
            <iframe width="400" height="200" src="https://www.youtube.com/embed/sKSWPNW7Ctw?list=PLiEMdHaOkT4lArHZpXRnd_qLSkSb4fF3r" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
            </iframe>
        </div>
        <div class="item">
            <iframe width="400" height="200" src="https://www.youtube.com/embed/cLW7tFH0B1A?list=PLiEMdHaOkT4lArHZpXRnd_qLSkSb4fF3r" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
            </iframe>
        </div>

    </div>

    <div class="category">
        <div class="category-border">
            팔
        </div>
    </div>
    <div class="video-content">
        <div class="item">
            <iframe width="400" height="200" src="https://www.youtube.com/embed/9ubcv1tDdmw?list=PLiEMdHaOkT4lArHZpXRnd_qLSkSb4fF3r"  frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
            </iframe>
        </div>

        <div class="item">
            <iframe width="400" height="200" src="https://www.youtube.com/embed/feHXIb0ObHk?list=PLiEMdHaOkT4lArHZpXRnd_qLSkSb4fF3r" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
            </iframe>
        </div>
        <div class="item">
            <iframe width="400" height="200" src="https://www.youtube.com/embed/Apao3buzKvI" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
            </iframe>
        </div>

    </div>

    <div class="category">
        <div class="category-border">
            하체
        </div>
    </div>
    <div class="video-content">
        <div class="item">
            <iframe width="400" height="200" src="https://www.youtube.com/embed/2_pP_SeLinc?list=PLiEMdHaOkT4lArHZpXRnd_qLSkSb4fF3r"  frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
            </iframe>
        </div>

        <div class="item">
            <iframe width="400" height="200" src="https://www.youtube.com/embed/fkpkqWbGdKs?list=PLiEMdHaOkT4lArHZpXRnd_qLSkSb4fF3r" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
            </iframe>
        </div>
        <div class="item">
            <iframe width="400" height="200" src="https://www.youtube.com/embed/LpukQGPG1zc" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
            </iframe>
        </div>

    </div>

    
    <link rel="stylesheet" type="text/css" href="weight.css">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    

</body>

</html> 
